<link rel="stylesheet" href="{{ css_url }}">


<h1>消息展示</h1>
<h1>{{data.updatetime}}</h1>
<!-- 邮件项将在这里动态生成 -->

<div class="rss-body">
    <div class="rss-list">
        <!-- {% for item in data.history %} -->
        <!-- <div class="summary", style="display: none;", id="{{item.id}}">
            {{ item.summary | safe}}
        </div> -->
        <!-- {% endfor %} -->
    </div>
    <template>
        <div class="item">
            <div class="header">
                <div class="web"></div>
                <div class="published"></div>
            </div>
            <div class="title"></div>
            <div class="red-dot"></div>
            <div class="buttons">
                <button class="jbutton">跳转</button>
                <button class="cbutton">删除</button>
            </div>
        </div>
    </template>
    <div class="rss-display" id="rss-display">
        <iframe src=""></iframe>
    </div>
</div>
