/* css/rss.css */
h1 {
    color: blue;
    text-align: center;
}

.rss-body {
    display: flex; /* 使用 Flexbox 布局 */
    height: 100vh;
    background-color: var(--body-color);
    transition: all 0.3s ease;
}

.rss-list {
    width: 500px;
    flex-shrink: 0; /* 不允许压缩 */
    padding: 10px;
    border-right: 1px solid #ccc;
    flex-direction: column; /* 垂直排列子元素 */
    overflow-y: auto;
    max-height: 100%; /* 确保不超过父容器 */
}

/* 隐藏 Webkit 滚动条 */
.rss-list::-webkit-scrollbar {
    display: none; /* 完全隐藏滚动条 */
}

.rss-display {
    flex-grow: 1; /* 内容区域占据剩余空间 */
    background-color: var(--body-color); /* 内容背景颜色 */
    transition: all 0.3s ease;
    padding: 20px; /* 内边距 */
    overflow-y: auto; /* 使右侧内容可滚动 */
    max-height: 100%; /* 确保不超过父容器 */
}

.rss-iframe {
    width: 100%; /* 100% 宽度，适应父容器 */
    height: 100%; /* 固定高度，可以根据需要调整 */
    border: none; /* 可选：去掉边框 */
}

.item {
    position: relative;
    width: (100% - 20px);
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    background-color: var(--shell-color);
    transition: transform 0.5s, opacity 0.5s;
}

.header {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: space-between; /* 两侧对齐 */
    align-items: center; /* 垂直居中 */
}

.item:hover {
    background-color: var(--primary-color);
}

.item:hover .web,
.item:hover .title,
.item:hover .published {
    color: var(--shell-color);
}

.dark .item:hover .web,
.dark .item:hover .title,
.dark .item:hover .published {
    color: var(--text-color);
}

.item:last-child {
    border-bottom: none;
}

.web {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    color: var(--text-color);
}

.title {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 10px; /* 上边距 */
    margin-left: 10px;
    line-height: 1.5; /* 行高 */
}

.published {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: var(--text-color);
}

.buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.cbutton,
.jbutton {
    padding: 2px 5px; /* 上下5像素，左右13像素（比文本左右各大3像素） */
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;

    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    background-color: var(--shell-color);
}

.jbutton:hover {
    background-color: green;
}

.cbutton:hover {
    background-color: red;
}

.red-dot {
    position: absolute;
    top: -7.5px;
    right: -7.5px;
    width: 15px;
    height: 15px;
    background-color: rgba(200, 0, 0, 0.8);
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
}

.fade-out {
    transform: scale(0); /* 缩小到 0 */
    opacity: 0;          /* 透明 */
}